extends layout

block content
  h1 URL Shortener Microservice
  p Read below for instructions - 
  p 1. Pass in the complete URL to be shortened as - 
    ul 
      li
        a(href="http://localhost:3000/http://www.google.com") http://localhost:3000/http://www.google.com
      li
        a(href="http://localhost:3000/http://www.facebook.com") http://localhost:3000/http://www.facebook.com
  p 2. Get the results in JSON format     
    

